<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.e_rent">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ERENT">
        <activity
            android:name=".ui.Profile"
            android:exported="false" />
        <activity
            android:name=".ui.AdminHome"
            android:exported="false" />
        <activity
            android:name=".ui.UserHome"
            android:exported="false" />
        <activity
            android:name=".ui.LandRegister"
            android:exported="false" />
        <activity
            android:name=".ui.UserRegister"
            android:exported="false" />
        <activity
            android:name=".ui.LandLogin"
            android:exported="false" />
        <activity
            android:name=".ui.UserLogin"
            android:exported="false" />
        <activity
            android:name=".ui.Choice"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>